[Unit]
Description=Bullshit-free MTPROTO proxy for Telegram
After=network.target

[Service]
EnvironmentFile=/etc/mtg/config
User={{ mtg_user }}
ExecStart=/opt/mtg/mtg-linux-amd64 run ${MTG_SECRET} ${MTG_ADTAG}
{% if mtg_cap_net_bind_service is defined %}
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
{% endif %}
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
